OPENAI_API_URL=https://api.groq.com/openai/v1
TRANSCRIPTION_MODEL=distil-whisper-large-v3-en
SUMMARIZATION_MODEL=llama-3.1-8b-instant
API_KEY=
PORT=3000
FFMPEG_BINARY=/usr/bin/ffmpeg
FFPROBE_BINARY=/usr/bin/ffprobe